body{
    color: cadetblue;
    font-family: Helvetica, Arial, sans-serif;
}

table {
    border-collapse: collapse;
    border-radius: 20%;
    border-style: double;
    width: 25%;
  }
  
table,td {
    empty-cells: show;
  }

td{
    display: flex;
    flex-direction: row;
    border: 2px solid #0000002b;
    border-top: 0px;
    height:2em;
  }

.inputText{
    width:85%;
    border: none;
    height:2em;
  }


.btnDelete{
    width:15%;

  }

.tableHeading{
    height:2em;
    background-color: aqua;
    border-bottom: 0px;
    font-size: 1.5em;
  }
  
.text{
  width:80%;
  margin-left: 1em;
}

.addText{
  height:2em;
  width:85%;
}

.addButton{  
    height:2em;
    width:15%;
    margin-top:0.2em;
}

.divAdd{
  width:100%;
  display:flex;

}


.heading{
    font-size: 1.5em;
  }

.finished{
  text-decoration: line-through;
}

.lists{
  display: flex;
  width:100%;
}

